.item {
	border:1px solid #6e2c90;
	border-top:none;
	margin:30px 0 0 0;
}
.item .title {
	height:37px;
	padding-top:5px;
	line-height:37px;
	background:url("../img/object_title.gif") top left repeat-x;
	font-family:'TrajanPro';
}
.item .title h3 {
	font-size:16px;
	line-height:37px;
	color:#fff;
	margin:0 0 0 25px;
	text-shadow:1px 1px rgba(0,0,0,.3);
	float:left;
}
.item .title a:link,
.item .title a:visited,
.item .title a:hover {
	float:right;
	margin:0 25px 0 0;
	float:right;
	font-size:16px;
	display: block;
	color:#fff;
	text-decoration:none;
}
.item .details {
	padding:12px;
	background:url("../img/search_item.gif") bottom left repeat-x;
}
.item .details .left {
	width:200px;
	float:left;
}
.item .details .left a:link,
.item .details .left a:visited,
.item .details .left a:hover {
	display: block;
	height:24px;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:11px;
	padding:0 20px;
	text-shadow:1px 1px rgba(0,0,0,.4);
	color:#fff;
	margin:0 0 7px 0;
	border-radius:4px;
	transition: opacity 0.25s ease 0s, background-color 0.45s ease 0s;
}
.item .details .left .thumb {
	border:1px solid #d5d5d5;
	padding:3px;
	background:#fff;
}
.item .details .center {
	width:665px;
	float:right;
}
.item .details .center .center-top {
	line-height:24px;
	height:24px;
	font-size:12px;
}
.item .details .center .center-top p {
	margin:0;
	float:left;
}
.item .details .center .center-top p b {
	color:#782422;
	font-weight:normal;
}
.item .details .center .center-top .note {
	float:right;
	font-family:Georgia;
	text-transform:uppercase;
}
.item .details .center .center-top .note .box {
	background:url("../img/bg_note_short.gif") top left no-repeat;
	width:78px;
	height:24px;
	float:right;
	margin:0 0 0 20px;
}
.item .details .center .center-top .note .box span {
	widtH:39px;
	font-weight:bold;
	color:#fff;
	display: block;
	float:left;
	text-align:center;
	font-size:13px;
	font-family:Arial;
}
.item .details .center h4 {
	font-family:Georgia;
	font-size:19px;
	line-height:22px;
	margin:0;
	padding:8px 0 6px 0;
	border-bottom:2px solid #cccccc;
}
.item .details .center .info {
	width:180px;
	float:left;
}
.item .details .center .info p {
	color:#5d3772;
	margin:6px 0;
	font-size:16px;
	font-family:Georgia;
	text-transform:uppercase;
}
.item .details .center .info span {
	display:block;
	font-size:11px;
	text-transform:uppercase;
	color:#323232;
	line-height:18px;
}
.item .details .center .info span b {
	color:#772623;
	text-transform:none;
}
.item .details .center .info .amenities {
	float:left;
	margin:4px 14px 4px 0;
}
.item .details .summary {
	width:300px;
	float:right;
	text-align:right;
}
.item .details .summary p {
	font-family:Georgia;
	font-size:13px;
	text-transform:uppercase;
	margin:0;
	line-height:32px;
}
.item .details .summary p b {
	font-size:24px;
	color:#811fb3;
	font-weight:normal;
}
.item .details .summary p b span {
	font-size:13px;
}