@media (min-width: 768px){
    .row-categories .col-md-3 {
        width: 18.297872340425532%;
        *width: 18.2234042553191494%;
    }
}
@media (min-width: 1200px) {
    .row-categories .col-md-3 {
        width: 20%;
        *width: 20%;
        padding-right:0;
        padding-left:10px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .row-categories .col-md-3 {
        width: 17.79005524861878448%;
        *width: 17.7155871635124022%;
    }
}

.category-item {
	height:290px;
	margin:10px 0 0 0;
	position: relative;
}
.category-item a:link,
.category-item a:visited,
.category-item a:hover {
	display: block;
	border:1px solid #dddddd;
	color:#000;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-o-transition: all 400ms;
}
.category-item a:hover {
	border:1px solid #ccc;
	background:#f9f9f9;
}
.category-item .box {
	margin:15px;
	height:260px;
	position: relative;
}
.category-item p {
	margin:0;
	font-size:13px;
	position:absolute;
	bottom:108px;
}
.category-item .price {
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	border-top:1px solid #eeeeee;
	width:100%;
	text-align: center;
}
.category-item .price span {
	font-size: 11px;
	display: block;
	height:25px;
	line-height:25px;
	text-transform: uppercase;
	color:#8f8f8f;
}
.category-item .price b {
	font-size:22px;
	font-weight:700;
	color:#000;
}